$red: #e90013;
$green: #23ca00;
$orange: #f58700;

html {
  min-height: 100vh;
}

body {
  color: black;
  font-family: "Krona One", sans-serif;
  margin: 0px;
  min-height: 100vh;
}

button {
  background: none;
  border-radius: 5px;
  font: inherit;
  padding: 0.5em 1em;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

#timer-app {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  min-height: 100vh;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.controls__control {
  margin-right: 1em;
}

.setup__exercise {
  border: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  position: relative;
}

.setup-exercise__id {
  margin-left: 0.25em;
  min-width: 2em;
}

.setup__exercises {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.setup__field-set {
  margin-right: 1em;
  border: none;
  padding: 0;
}

.setup__label {
  margin-right: 0.5em;
}

.setup__quantity-button {
  border: none;
  line-height: 1;
  margin-right: 0.25em;
  padding: 0.1em;
}

.setup__weight {
  width: 3em;
}

.timer {
  font-size: 800%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.working-out {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.working-out--active {
  background-color: $green;
  color: white;

  button {
    border-color: white;
  }
}

.working-out__heading {
  font-size: 200%;
}

.working-out__control {
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.working-out--transition {
  background-color: $orange;
  color: white;

  button {
    border-color: white;
  }
}

.working-out--inactive {
  background-color: $red;
  color: white;

  button {
    border-color: white;
  }
}
