$red: #e90013;
$green: #23ca00;
$orange: #f58700;

html {
  min-height: 100vh;
}

body {
  color: black;
  font-family: "Krona One", sans-serif;
  margin: 0px;
  min-height: 100vh;
}

button {
  background: none;
  border-radius: 5px;
  font: inherit;
  padding: 0.5em 1em;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

input {
  font: inherit;
  margin: 0.1em;
}

#timer-app {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.setup {
  margin: 1em;
}

.setup__controls {
  margin-top: 1em;
}

.setup__exercise {
  align-items: center;
  border: 1px solid #cccccc;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  position: relative;
}

.setup-exercise__id {
  margin-left: 0.25em;
  min-width: 2em;
}

.setup__exercises {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.setup__field-set {
  margin-right: 1em;
  border: none;
  padding: 0;
}

.setup__label {
  margin-right: 0.5em;
}

.setup__quantity-button {
  border: none;
  line-height: 1;
  margin-right: 0.25em;
  padding: 0.1em;
}

.setup__other {
  display: flex;
  flex-wrap: wrap;
}

.setup__other-field {
  margin-right: 1em;
  margin-bottom: 1em;
}

.setup__weight {
  width: 3em;
}

.setup__time {
  width: 3em;
}

.setup__sets {
  width: 3em;
}

.timer {
  font-size: 900%;
}

.working-out {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 600px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1100px) {
    font-size: 32px;
  }
}

.working-out__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  max-height: 700px;
}

.working-out--active {
  background-color: $green;
  color: white;

  button {
    border-color: white;
  }
}

.working-out__heading {
  text-align: center;
}

.working-out__exercise-name {
  font-size: 300%;
}

.working-out__info {
  font-size: 200%;
  display: flex;
  align-content: space-around;

  & span {
    margin: 0em 1em;
  }
}

.working-out__control {
  margin: 0.25em 0.5em;
  min-width: 6em;
  flex: 1 0 auto;
}

.working-out__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.working-out--transition {
  background-color: $orange;
  color: white;

  button {
    border-color: white;
  }
}

.working-out--inactive {
  background-color: $red;
  color: white;

  button {
    border-color: white;
  }
}
